@import "reset.styl"
@import "variables.styl"
@import "mixins.styl"
@import "animations.styl"

html, body
    font-size 16px;
    font-family 'Roboto', sans-serif
    overflow hidden
    height 100%
    width 100%
